
/* for smart phone */
@media (orientation: portrait) {
    :root {
        --main-width: 100vw;
    }
}
/* for pc */
@media (orientation: landscape) {
    :root {    
        --main-width: calc(100vh*9/13);
    }
}

:root {
    --border-width: calc(var(--main-width)/18);
    --square-width: calc(var(--border-width)*2);
    --board-width: calc(var(--square-width)*8);
    --text-height: calc(var(--main-width)/18);
}

main {
    margin: 0 auto;
    width: var(--main-width);
}

.Board {
    display: grid;
    grid-template-rows: repeat(8, var(--square-width));
    grid-template-columns: repeat(8, var(--square-width));
    grid-auto-flow: row;
    width: var(--board-width);
    height: var(--board-width);
    border: var(--border-width) outset black;
    margin: 0 auto;
}
.Square {
    width: var(--square-width);
    height: var(--square-width);
}

.Title, .Player, .Result, .History {
    margin: 0 auto;
    width: var(--main-width);
    text-align: center;
}

.Title, .Player, .Result {
    height: var(--text-height);
    margin-top: calc(var(--text-height)*0.4);
    margin-bottom: calc(var(--text-height)*0.4);
}
.Title {
    font-size: calc(var(--text-height));
}
.Player, .Result, .History {
    font-size: calc(var(--text-height)*0.8);
}
.History {
    margin-top: calc(var(--text-height)*0.4);
    height: calc(var(--text-height)*2);
}
.HistoryText {
    box-sizing: border-box;
    border-radius: 2px;
    font-size: calc(var(--text-height)*0.5);
    padding: calc(var(--text-height)*0.01);
    width: calc(var(--main-width)*0.9);
}